$font-family-content: Roboto;
$text-color-white: #ffffff;

$round-border-radius: 2.6rem;
$bullet-size-small: 1.5rem;

$background-blue: #00a9ff;


$max-mobile-width: 27.875rem;
$middle-width-change-flex: 75rem;
